.relative-block-container {
  position: relative;
  width: min-content;

  textarea {
    outline: none;
    resize: none;
    font-family: 'Courier New', Courier, monospace;
  }

  .highlight-tag {
    background-color: #ffffa2 !important;
    color: #afafff !important;
  }

  .formatted-text{
    margin: 20px 0;
  }
}