.relative-block-container {
  position: relative;
  width: min-content;

  textarea {
    outline: none;
    resize: none;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.3;
  }

  ::ng-deep.ngx-text-highlight-tag {
    border-radius: 3px;
    padding: 0 2px;
  }
}