.relative-block-container {
  position: relative;
  width: min-content;

  textarea {
    outline: none;
    resize: none;
  }

  .highlight-tag {
    background-color: #ffffa2 !important;
    color: #afafff !important;
  }
}